* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
}

body {
  font-family: "Josefin Sans", sans-serif;
  /* overflow: hidden; */
}


/*--------------------- Nav-Bar Section -----------------*/

.container-fluid .navbar-brand{
  font-size: 2rem;
  color: #ffffff;
}


#navbarNav{
  font-size: 20px;
}

.nav-link{
  margin-right: 2rem;

}

#navbarNav .nav-link:hover{
  color: #808080
}

#navbarNav .nav-link{
  color: #ffffff
}




/*---------X------------ Nav-Bar Section ----------X------- */


#custom-navbar {
  background-color:  #0D47A1 !important;
}

#custom-img {
  height: 90% !important;
  width: 100% !important;
}

.btn-store {
  color: #777777;
  min-width: 254px;
  padding: 12px 20px !important;
  border-color: #dddddd !important;
}

.btn-store:focus,
.btn-store:hover {
  color: #ffffff !important;
  background-color: #168eea;
  border-color: #168eea !important;
}

.btn-store .btn-label,
.btn-store .btn-caption {
  display: block;
  text-align: left;
  line-height: 1;
}

.btn-store .btn-caption {
  font-size: 24px;
}
